<form action="/auth/signup/" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" />
    <label for="email">E-mail</label>
    <input type="text" name="email" id="email" />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
    <label for="file">Avatar</label>
    <input type="file" name="file" id="file" />
    
    <input type="submit" value="Submit" />
</form>